#Ignora a pasta 'node_modules' da api curso
/api_curso_ts/node_modules

#Ignora a pasta 'lib' da api de aluno
/api_aluno_py/env/lib

#Ignora a pasta 'bin' da api de matrícula
/api_matricula_cs/bin/


